fastapi
groq
elevenlabs
uvicorn
python-dotenv
google-generativeai
langgraph
langchain
langchain-google-genai
slack-sdk
google-auth
google-auth-oauthlib
google-api-python-client
reportlab
matplotlib
python-multipart
websockets
httpx
